#main-layout{
  min-height: 100vh;
}
#main-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#main-layout .trigger:hover {
  color: #1890ff;
}

#main-layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.footer{
  background: #fff;
  padding: 24px 20px;
  text-align: center;
}

.ant-layout-header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#user-menu{
  margin: 0 20px;
  cursor: pointer;
}